<ion-content padding id="regis">
  
  <b><h1>สมัครสมาชิก</h1></b>

 

     <ion-list no-lines>
       <form novalidate [formGroup]="signupform" (ngSubmit)="signup()">
  <ion-item>
    
      <ion-input placeholder="ชื่อ-นามสกุล" formControlName="username" [class.error1]="!signupform.controls.username.valid && signupform.controls.username.dirty"
           [(ngModel)]="userData.username" 
            type="text" >
      </ion-input>
  </ion-item>
  <div *ngIf="( signupform.get('username').hasError('maxlength') ||signupform.get('username').hasError('pattern') ||signupform.get('username').hasError('required') ) && signupform.get('username').touched">
    <div class="error" *ngIf="signupform.get('username').hasError('required') && signupform.get('username').touched">
      กรุณากรอกข้อมูล
    </div>
    <div class="error" *ngIf="signupform.get('username').hasError('maxlength') && signupform.get('username').touched">
     จำนวนมากเกินไป
    </div>
    <div class="error" *ngIf="signupform.get('username').hasError('pattern') && signupform.get('username').touched">
      กรุณากรอกเป็นตัวอักษร
    </div>
    <br>
  </div>

 
  <ion-item>
    
    <ion-input [class.error1]="!signupform.controls.email.valid && signupform.controls.email.dirty"
               placeholder="อีเมล์"
             formControlName="email"
             [(ngModel)]="userData.email"
             type="text" >
    </ion-input>   
  </ion-item>

  <div *ngIf="( signupform.get('email').hasError('minlength') || signupform.get('email').hasError('pattern') ||signupform.get('email').hasError('required') ) && signupform.get('email').touched">
      <div class="error" *ngIf="signupform.get('email').hasError('required') && signupform.get('email').touched">
        กรุณากรอกข้อมูล
      </div>
      <div class="error" *ngIf="signupform.get('email').hasError('pattern') && signupform.get('email').touched">
        อีเมล์คุณไม่ถูกต้อง
      </div>
      <br>
    </div>
    
    <ion-item>
      
        <ion-input placeholder="รหัสผ่าน" type="password" formControlName="password" [(ngModel)]="userData.password"  [class.error1]="!signupform.controls.password.valid && signupform.controls.password.dirty"></ion-input>
      </ion-item>

      <div *ngIf="( signupform.get('password').hasError('minlength') || signupform.get('password').hasError('maxlength') ||signupform.get('password').hasError('required') ) && signupform.get('password').touched">
        <div class="error" *ngIf="signupform.get('password').hasError('required') && signupform.get('password').touched">
          กรุณากรอกข้อมูล
        </div>
        <div class="error" *ngIf="signupform.get('password').hasError('minlength') && signupform.get('password').touched">
         กรอกอย่างน้อย 6 ตัวอักษร/ตัวเลข
        </div>
        <div class="error" *ngIf="signupform.get('password').hasError('maxlength') && signupform.get('password').touched">
          ไม่ควรเกิน 12 ตัวอักษร/ตัวเลข
        </div>
        <br>
      </div>
  
  
    <ion-item>
        
        <ion-input placeholder="เบอร์โทรศัพท์"
                 formControlName="tel"
                 [(ngModel)]="userData.tel"
                 type="text" >
        </ion-input>
      </ion-item>

      <div  *ngIf="( signupform.get('tel').hasError('minlength') || signupform.get('tel').hasError('maxlength') || signupform.get('tel').hasError('pattern')||signupform.get('tel').hasError('required') ) && signupform.get('tel').touched">
          <div class="error" *ngIf="signupform.get('tel').hasError('required') && signupform.get('tel').touched">
              กรุณากรอกข้อมูล
            </div>
          <div class="error" *ngIf="signupform.get('tel').hasError('minlength') && signupform.get('tel').touched">
            กรณากรอกให้ครบ10หลัก
          </div>
          <div class="error" *ngIf="signupform.get('tel').hasError('maxlength') && signupform.get('tel').touched">
            กรณากรอกให้ครบ10หลัก
            </div>
            <div class="error" *ngIf="signupform.get('tel').hasError('pattern') && signupform.get('tel').touched">
                กรุณากรอกตัวเลข
              </div>
              <br>
        </div>


      <ion-item>
          
          <ion-input placeholder="ทะเบียนรถ"
                   formControlName="license"
                   [(ngModel)]="userData.license"
                   type="text" >
          </ion-input>

        </ion-item>
        <div  *ngIf="( signupform.get('license').hasError('minlength') || signupform.get('license').hasError('maxlength') || signupform.get('license').hasError('pattern')||signupform.get('license').hasError('required') ) && signupform.get('license').touched">
          <div class="error" *ngIf="signupform.get('license').hasError('required') && signupform.get('license').touched">
              กรุณากรอกข้อมูล
            </div>        
          <div class="error" *ngIf="signupform.get('license').hasError('maxlength') && signupform.get('license').touched">
            กรุณาตรวจสอบเลขทะเบียน
            </div>
            
            <br>
        </div>

       
      <ion-item >
        <ion-label>จังหวัดตามทะเบียน</ion-label>
        <ion-select  
        formControlName="province" submitText="Okay" cancelText="Cancle"
                    [(ngModel)]="userData.province_name">

           <ion-option *ngFor="let item of items" [value]="item.province_id">{{item.province_name}}</ion-option>

        </ion-select>
      </ion-item>

      <ion-item >
        <ion-label>ขนาดของรถยนต์</ion-label>
        <ion-select  
        formControlName="car_type" submitText="Okay" cancelText="Cancle"
                    [(ngModel)]="userData.type_name">

           <ion-option *ngFor="let item of items2" [value]="item.car_type_id">{{item.type_name}}</ion-option>

        </ion-select>
      </ion-item>
        
      </form>
         <!-- <ion-input padding id="home"
                   [(ngModel)]="userData.status"
                   value="w" >
          </ion-input>-->
        
    </ion-list>
  
  
<br>
<br>
<div class="submit">
<button  ion-button block color="carcare"  [disabled]="signupform.invalid" (click)="signup('top')">ลงทะเบียน</button>
<button  ion-button block color="carcare" (click)="home()" >กลับหน้าล๊อกอิน</button>
</div>



<!----
<ion-list padding id="test">
  <ion-item>s
    
    <ion-input type="text" placeholder="Email" [(ngModel)]="userData.email"></ion-input>
  </ion-item>
  <ion-item>
    
    <ion-input type="text"  placeholder="Username"[(ngModel)]="userData.username"></ion-input>
  </ion-item>
 <ion-item>
    
    <ion-input type="text" placeholder="License" [(ngModel)]="userData.license"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" placeholder="Tel." [(ngModel)]="userData.tel"></ion-input>
  </ion-item>
  <ion-item>
    
    <ion-input type="text" placeholder="Password" [(ngModel)]="userData.password"></ion-input>
  </ion-item>
<button ion-button block (click)="register()" >CREATE ACCOUNT</button>
<button ion-button block (click)="home()" >BACK TO LOGIN</button>
</ion-list>
-->

</ion-content>