page-main {
   
    ion-slides{
        margin-top:0%;
        background-size: cover;
        margin-left: 0%;
       
    }
    
    h1{
        font-family: 'test3';
    }
    
    
.content{
    background-color:rgb(241, 240, 240);
    //background-color:rgb(237, 241, 243);
        
    .swiper-pagination-bullet-active{
        background: rgb(77, 77, 77);
    }


    ion-icon{
        font-size: 45px;
        margin-top: 25px;
        margin-left: 29%;
    
    }
}
ion-grid{
   margin-top: 11%;
   margin-bottom: 15px;
  
      
   
}
.div{
   
    transform: translate(-50%,-50%);
    align-content: center;
    margin-bottom: -15%;
    background:rgb(247, 247, 247);
    color: rgb(0, 0, 0);
    margin-top: 25%;
    border-radius: 10px;
    height: 150px;
    width: 90%;
    margin-left: 50%;
    background-size: cover;
    box-shadow: 5px 5px 5px  rgb(221, 221, 221);
.icon{
    margin-left: 35%;
    margin-top: 15%;
   
}
h3{
    margin-top: 10px;
    margin-left: 5%;
}
    
}




.button{
    background:rgb(247, 247, 247);
    color: rgb(0, 0, 0);
    height: 70px;
    //border-radius: 10px;
    width: 100%;
    top:7px;
    margin-left: 0px;
    font-size: 29px;
    text-align: center;
    box-shadow: 5px 5px 5px  rgb(221, 221, 221);
}
.list{
    margin-top: 25px;
}
.card{
    background:rgb(247, 247, 247);
    border-radius: 8px;
    
}

}