<ion-header>

  <ion-navbar hideBackButton="true" color="carcare">
    <ion-title><h1>Carcare</h1></ion-title>

<ion-buttons end >
    <button ion-button  (click)="home()">
      
      <img src="../../assets/img/logout2.png"class="icon" style="width:30px; height:30;">
      
    </button>
  </ion-buttons>



  </ion-navbar>

  

</ion-header>



<ion-content>
  <!----<div class="top">
    <ion-row>
        <ion-col  (click)="switchTH()"  class="th">
   
            <img src="../assets/img/th.png" >
   
        </ion-col>
        <ion-col (click)="switchEN()" class="en">
          
            <img src="../assets/img/eng.png">
   
        </ion-col>
      </ion-row>
 </div>
-->
<h3 text-center><b> สวัสดี คุณ {{userDetails.username}}</b></h3>

<ion-slides *ngIf="items && items.length" pager="true "autoplay="5000" loop="true" speed="750" style="max-height:100px; max-width:100%"> 

      <ion-slide *ngFor="let item of items">
          <img src="https://braziliandev.000webhostapp.com/carcare/promo/{{item.pro_image}}"style="width:100%; height:100px;"  >
      </ion-slide>

</ion-slides>


  
              
            <button text-align="center"  ion-button block  (click)="queuePage()">
                
                จองคิว
            </button>
      
            <ion-list>
        <ion-card *ngFor="let item of dataSet; let msgIndex = index" class="card">
          <ion-card-content>
          <!----<ion-item no-lines text-center ng-if="item.length <= 0 || !item">
            คุณยังไม่มีรายการจองคิว
          </ion-item>>
        -->
        
          <ion-item class="card" >
            
            
          <div class="card" (click)="content({ record: item })">
            
         
          
          <b><h2>ข้อมูลการทำรายการ</h2></b>
          <ion-item class="card">
            <h3 item-start large>รายการบริการ</h3>
            <p>{{item.service_name}}</p>
          </ion-item>
          <ion-item class="card">
            <h3 item-start large>ช่วงเวลาการบริการ</h3>
            <p>{{item.time}}</p>
          </ion-item>
         <span>{{ this.converTime(item.created) | amTimeAgo}}</span>
         
            
         </div>
        </ion-item>
      
        
      
      
        </ion-card-content>
          </ion-card>
          </ion-list>
          
          <ion-grid >
       
    <ion-row>

      <ion-col class="cols">
        <div class="div"(click)="profilePage()">

          <img src="../../assets/img/user3.png"class="icon" style="width:50px; height:50px;">
        <h3 text-center >ข้อมูลส่วนตัว</h3>
      </div>

    </ion-col>
    <ion-col class="cols">
        <div class="div"(click)="historyPage()" >

          <img src="../../assets/img/history2.png"class="icon" style="width:50px; height:50px;">
       
        <h3 text-center>ประวัติ</h3>
      </div>

    </ion-col>
    </ion-row>
    <ion-row>

        <ion-col col-6 class="cols">
          <div class="div"(click)="canclePage()">
  
            <img src="../../assets/img/queue.png"class="icon" style="width:50px; height:50px;">
          <h3 text-center >คิวของคุณ</h3>
        </div>
      </ion-col>
      <ion-col col-6 class="cols">
        <div class="div"(click)="manualPage()">

          <img src="../../assets/img/car.png"class="icon" style="width:50px; height:50px;">
        <h3 text-center>คู่มือดูแลรถ</h3>
      </div>

    </ion-col>


    </ion-row>
    
  </ion-grid>
  
  <!--<div padding id="list">
    <ion-row style="margin-top:10%;">
        <ion-col col-6 *ngFor="let item of items">
              
            <ion-item no-line (click)="viewEntry({ record: item })">
                <img src="../assets/img/user.png"  >
                
                
                
                  
                
                <p><ion-icon name="pin" item-start></ion-icon>{{ item.username }}</p>
                
                
                <p><ion-icon name="flag" item-start></ion-icon>{{ item.email }}</p>
                <p><ion-icon name="calendar" item-start></ion-icon>{{ item.license }}</p>
                <p><ion-icon name="clock" item-start></ion-icon>{{ item.tel }} น.</p>
            </ion-item>
        </ion-col>
      
    </ion-row>
</div>
-->

</ion-content>