<ion-header>

  <ion-navbar color="carcare">
    <ion-title><h3>ข้อมูลส่วนตัว</h3></ion-title>

   
  </ion-navbar>

</ion-header>




 
    
<ion-content padding id="content">
  
    <ion-list no-lines>

       

      <ion-item>
          <ion-label> <ion-icon name="mail"></ion-icon></ion-label>
        <ion-input 
                    [(ngModel)]="userPostData.email" 
                    placeholder="{{userDetails.email}}"
                    type="text"></ion-input>
   </ion-item>

    <ion-item>
          <ion-label> <ion-icon name="person"></ion-icon></ion-label>
        <ion-input 
                    
                    [(ngModel)]="userPostData.username" 
                    placeholder="{{userDetails.username}}"
                    type="text"></ion-input>
   </ion-item>
      <ion-item>
          <ion-label> <ion-icon name="card"></ion-icon></ion-label>
        <ion-input 
                   
                   [(ngModel)]="userPostData.license" 
                   placeholder="{{userDetails.license}}"
                   ></ion-input>
      </ion-item>
      
      <div class="row2">
      
          <ion-item >
              <ion-label>จังหวัดตามทะเบียนรถ</ion-label>
              <ion-select  
               submitText="Okay" cancelText="Cancle" [(ngModel)]="userPostData.province"  >
                
                <ion-option  [value]="userDetails.province" >--{{userDetails.province_name}}--</ion-option>
                <ion-option *ngFor="let item of items" [value]="item.province_id">{{item.province_name}}</ion-option>
                
                
                
              </ion-select>
              </ion-item>

    </div>

    <ion-item >
      <ion-label>ขนาดของรถยนต์</ion-label>
      <ion-select  
      submitText="Okay" cancelText="Cancle"
                  [(ngModel)]="userPostData.car_type">

         <ion-option  [value]="userDetails.car_type">--{{userDetails.type_name}}--</ion-option>
         <ion-option *ngFor="let item of items2" [value]="item.car_type_id">{{item.type_name}}</ion-option>

      </ion-select>
    </ion-item>

      <ion-item>

          <ion-label> <ion-icon name="call"></ion-icon></ion-label>
        <ion-input 
                     [(ngModel)]="userPostData.tel" 
                     placeholder="{{userDetails.tel}}"></ion-input>
      </ion-item>

     
    
       <button ion-button block color="carcare" (click)="profileUpdate('top')">บันทึก</button>
      
    </ion-list>        
     
  <!----
  <ion-content class="outer-content" padding id="content">

  <form [formGroup]="form" (ngSubmit)="saveEntry()">
    <ion-list no-lines>
     
          <ion-item>
                <ion-label> <ion-icon large name="mail"></ion-icon></ion-label>
              <ion-input 
                          formControlName="email" 
                          [(ngModel)]="technologyemail" 
                          placeholder="อีเมล์"
                          type="text"></ion-input>
            </ion-item>
            
            <ion-item>
                <ion-label> <ion-icon name="person"></ion-icon></ion-label>
              <ion-input 
                         formControlName="username" 
                         [(ngModel)]="technologyusername" 
                         placeholder="ชื่อ-นามสกุล"
                         type="text"></ion-input>
            </ion-item>
            
          
            
            <ion-item>
              <ion-label><ion-icon name="card"></ion-icon></ion-label>
              <ion-input placeholder="ทะเบียนรถ"
                            formControlName="license" 
                            [(ngModel)]="technologylicense"
                           
                            type="text"
                            
                           ></ion-input>
            </ion-item>
          <div class="row2">
          
              
        
            <ion-item>
              <ion-label><ion-icon name="card"></ion-icon></ion-label>
              <ion-input formControlName="province" 
                             placeholder="จังหวัดตามทะเบียน"
                           [(ngModel)]="technologyprovince"
                             
                            type="text"
                           ></ion-input>
            </ion-item>
          </div>
        
    <div>
           
            <ion-item>
              <ion-label><ion-icon name="call"></ion-icon></ion-label>
              <ion-input placeholder="เบอร์โทรศัพท์"
                          formControlName="tel" 
                          [(ngModel)]="technologytel"
                          type="number"></ion-input>
            </ion-item>
          
          </div>

            
             
             
          </ion-list>
           
                <button ion-button block color="secondary">บันทึก</button>
             
</form>
-->
  </ion-content>
  
 
 
 