<ion-header>
  <ion-toolbar>
    <ion-title>
      Charts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
 {{sum}}
  <div class="ion-padding">

      <ion-card>
          <ion-card-header>
            Line Chart
          </ion-card-header>
          <ion-card-content>
            <canvas #lineCanvas></canvas>
          </ion-card-content>
        </ion-card>
 
  

  </div>

  <ion-list >  
  
       
          <ion-card *ngFor="let item of item3">
            <ion-card-header>
              ID : {{item.booking_service_id}}
            </ion-card-header>
            <ion-card-content class="fix-line">
              NAME : {{item.service_name}}<br>
              PRICE : {{item.service_price}}
            </ion-card-content>
          </ion-card>
        
  </ion-list>

  <ion-card *ngIf="noRecord">
    <ion-item>
      No Records
    </ion-item>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>