page-history {
    
   
    .ion-navbar{
        background-image: url('../assets/img/bg.jpg') ;
        
    }
    .content{
        background-color:rgb(241, 240, 240);
        //background-color:rgb(237, 241, 243);
    button{
        background-color: #F8F8F8 ;
        
        
        
     }
.img{
    width: 20%;

}
.titleicon {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align:center;
    height: 100%;
    
}
.item{
    background-color: transparent;
    left:0px;

}
button{
    color: rgba(0, 62, 124, 0.86);
}
 }
   span{
       left:50px;
   }

   .card{
    background:rgb(247, 247, 247);
    border-radius: 8px;
   }

   .noHis{
    font-size:20px;
    color: rgb(77, 77, 77);
    text-align: center;
    margin-top: 60%;
    //position: absolute;
}
    }

