page-content {
#content{
    background-color:rgb(241, 240, 240);
    width: 116%;
    left: -8%;
    align-content: center;
    position: relative;
    
}
.card-img {
    height: 170px;
    position: relative;
    
    }

 .card-title {
        position: absolute;
        position: relative;
        top: -7%;
        font-size: 1.9em;
        width: 89%;
        left: 6%;
        //font-weight: bold;
        color: rgb(0, 0, 0);
        
 }
 ion-card {
        position: relative;
        text-align: center;
        width: 100%;
        top: -5%;
        
      }
      .text{
          top: -5%;
          width: 82%;
          height: 50%;
          text-align: center;
          position: relative;
          margin-left: 10%;
          font-size: 1.1em;
          color: rgb(0, 0, 0);
      }
      textarea.text-input{
height: 100%;
position: relative;
}
}
