page-popup3 { 
    .sample-modal-page {
      position: absolute;
      overflow: hidden;
      //max-width: 280px;
      border-radius: 7px;
      //top:20%;
      height: 75%;
      width: 80%;
      bottom: 0;
      //left: 10%;
      right: 0;
      margin: auto;
      border: 0;
      box-shadow: 0 16px 20px rgba(0,0,0,.4);
      background-color: #dbdbdbf8;
      
      }
      
      .item{
          background-color: transparent;
          top:0PX;
      }
      h1{
          margin-left:15px;
         
      }
    
  }